@import "_variaveis.less";
@import "_botoes.less";
@import "_escapings_e_mapas.less";

body {
  font-family: @font-principal;
  background-color: @cor-fundo;
  color: @cor-texto;
  margin: 0;
  padding: 20px;
}

h1, h2, h3 {
  font-family: @font-titulo;
  color: @cor-secundaria;
}

.cabecalho {
  background-color: @cor-secundaria;
  color: #fff;
  padding: 20px;
  text-align: center;
}
